html,
body {
  margin: 0px;
  padding: 0px;
}

/* Responsive */
@font-face {
  font-family: "Rubik";
  src: url("./assets/font/Rubik-VariableFont_wght.ttf");
}
@font-face {
  font-family: "Poppins";
  src: url("./assets/font/Poppins-Regular.ttf");
}

@media (max-width: 1282px) {
  #row-email-phone-card {
    gap: 0.5rem !important;
    margin-top: 0 !important;
  }
}

@media (max-width: 1352px) {
  #card-back-brown-res {
    background: none !important;
    height: 100% !important;
    border: none !important;
  }
  #card-back-black-res {
    height: 100% !important;
    background: none !important;
    border: none !important;
  }
  #card-product-promo-res {
    height: 100% !important;
  }
}

@media (max-width: 991px) {
  .hero-image {
    height: 100% !important;
    padding-bottom: 10% !important;
  }
  .hero-title {
    padding: 10% 0 5% !important;
    line-height: 45px !important;
  }
  .hero-desc {
    padding: 0 15% 5% 0 !important;
    line-height: 30px !important;
  }
  .normal-text {
    font-size: 18px !important;
  }
  .banner {
    margin-top: 0 !important;
  }
  .navbar-nav {
    margin-left: 10% !important;
  }
  .desc-title {
    font-size: 25px !important;
    line-height: 30px !important;
  }
  .desc-word {
    line-height: 25px !important;
  }
  .profile-right-nav {
    padding-left: 10% !important;
    text-align: left !important;
    width: 70% !important;
  }
  .right-nav {
    display: block !important;
    padding-left: 10%;
  }
  .left-arrow {
    padding-bottom: 17% !important;
    margin-top: -2% !important;
  }
  .right-arrow {
    margin-left: -9% !important;
  }
  .content-item-res {
    column-gap: 10%;
  }
}

@media (max-width: 767px) {
  .share-report {
    margin: 5% 0 !important;
  }
  .card-statistic {
    margin-top: 5% !important;
  }
  .row-top-statistic {
    text-align: center !important;
    margin: auto !important;
  }
  .card-cart-payment {
    margin-top: 1.5rem;
  }
  .cart-card-layout,
  .card-cart-delivery,
  .card-history-layout {
    max-width: fit-content;
    margin: auto;
  }
  .card-history-layout {
    margin-top: 2rem;
  }
  .card-history-row {
    margin-right: 0 !important;
    padding-right: 0 !important;
  }
  .image-cart-product {
    max-width: fit-content !important;
  }
  .cart-price-text {
    margin-bottom: 1rem !important;
  }
  #checkout-title-res {
    margin-left: 0px !important;
    padding-left: 0px !important;
    text-align: center;
  }
  .cart-product-text,
  .cart-price-text,
  .cart-row-col,
  .cart-total-price,
  .cart-detail-title,
  .delivery-text,
  .card-history-layout {
    text-align: center !important;
  }
  .cart-detail-title {
    margin-top: 2rem !important;
  }
  #card-between-row-res {
    padding: 0 !important;
    margin: auto !important;
  }
  #card-between-col-res {
    padding: 0 !important;
    margin: auto !important;
  }
  .delivery-time-card {
    height: fit-content !important;
    width: 100%;
  }
  .row-content {
    gap: 0 !important;
  }
  #top-product-desc-res {
    padding-right: 0 !important;
    text-align: center;
  }
  .top-product-desc {
    text-align: center !important;
  }
  .delivery-time-card-res {
    text-align: center !important;
  }
  .count {
    justify-content: space-around !important;
  }
  .card-size {
    margin-top: 5% !important;
  }
  .regular {
    width: 10% !important;
  }
  .card-checkout {
    margin-top: 5% !important;
  }
  .cold-brew-title {
    text-align: center !important;
  }
  .cold-brew-desc {
    text-align: center !important;
  }
  .forgotImg {
    height: 690px !important;
  }
  .resendLink {
    padding: 20px 165px !important;
  }
  .forgotReceive {
    margin-top: 10% !important;
  }
  .forgotContainer {
    justify-content: space-between !important;
  }

  .inputForgot {
    width: 70% !important;
    margin-top: 5% !important;
  }
  .inputForgot > input {
    padding: 26px 35px !important;
  }
  .inputForgot > span {
    padding: 15px 45px !important;
  }
  .forgotForm {
    row-gap: 10px !important;
    width: 100% !important;
    padding-top: 2% !important;
    margin: 15% !important;
  }
  .forgotTitle > span {
    font-size: 30px !important;
  }
  .forgotTitle > p {
    font-size: 20px !important;
  }
  .welcome-name-res {
    text-align: left !important;
    margin-left: 10%;
  }
  input[name="gender"] {
    transform: scale(1.5) !important;
  }
  .date-gender-res {
    margin-top: 2% !important;
  }
  #card-user-detail-res {
    margin-top: 0 !important;
  }
  #delivery-res {
    margin-top: 0.5rem !important;
  }
  .user-profile {
    height: 100% !important;
  }
  #user-contact-card-res {
    padding: 2% !important;
    margin-top: 4%;
  }
  .row {
    padding-left: 0 !important;
  }
  .user-profile {
    padding-left: 0 !important;
  }
  #card-profile-layout-res {
    height: 100% !important;
  }
  .email-text {
    margin-top: -5% !important;
  }
  #user-detail-row-res {
    padding: 0 !important;
  }
  #card-detail-layout-res {
    height: 100% !important;
  }
  .button-user-detail {
    margin-top: 8% !important;
    margin-bottom: 10% !important;
  }
  .footer-nav {
    display: flex !important;
    justify-content: space-evenly;
  }
  .footer-brand-layout {
    text-align: center;
  }
  #card-box-res {
    height: 100% !important;
    text-align: center;
    margin-top: 1rem;
  }
  .card-row-res {
    gap: 1rem !important;
  }
  .content-desc {
    text-align: center;
    padding: 5% !important;
  }
  #sideline-res {
    border: none !important;
    padding-bottom: 0 !important;
  }
  .desc-title {
    font-size: 35px !important;
  }
  .desc-word {
    font-size: 25px !important;
  }
  .favorite {
    padding: 5% 5% 0 !important;
  }
  .section-desc {
    font-size: 25px !important;
  }
  .card-rows {
    margin: auto !important;
    padding: 0 !important;
    width: 80% !important;
  }
  .card-layout {
    align-items: center;
    margin-top: 5% !important;
    padding-bottom: 5% !important;
  }
  #card-img-top-res {
    width: 30% !important;
    margin-top: 5% !important;
    margin-left: 0 !important;
  }
  .button-select {
    width: 100% !important;
    font-size: 18px !important;
  }
  .card-price {
    margin-top: 1rem !important;
  }
  .hero-res {
    padding-left: 5% !important;
  }
  #gap-res {
    gap: 0 !important;
  }
  .list-item-desc {
    font-size: 18px !important;
    line-height: 20px !important;
  }

  .card-title {
    font-size: 25px !important;
  }
  .price-text {
    font-size: 25px !important;
  }
  .store {
    padding: 5% !important;
  }
  .partner {
    padding: 0 5% 1% !important;
  }
  .col-arrow {
    display: none !important;
  }
  #card-promo-layout-res {
    margin-top: 0 !important;
    margin-left: 11% !important;
  }
  .pagination-button-res {
    text-align: center;
  }
  .btn-primary {
    width: 25% !important;
    height: 35px !important;
  }
  #apply-coupon-res {
    margin-top: 10% !important;
  }
  #tnc-res {
    text-align: center !important;
    margin-top: 10% !important;
    list-style-position: inside !important;
    margin-bottom: 5%;
  }

  .fav-product-title {
    margin-top: -15% !important;
    font-size: 25px !important;
    line-height: 25px !important;
  }
  .fav-product-price {
    margin-top: 10% !important;
    font-size: 20px !important;
  }
  .fav-product {
    gap: 5rem;
    display: grid !important;
    grid-template-columns: 25% 25%;
    justify-content: center;
  }
  .sort-icon {
    margin-left: 10%;
  }
  #card-body-res {
    display: block !important;
  }
}

@media (max-width: 575px) {
  #delete-text-res {
    text-align: center !important;
    margin-right: 0 !important;
    padding-right: 0 !important;
  }
  #content-desc-res {
    gap: 0 !important;
  }
  .teamwork-img-res {
    margin: auto !important;
  }
  #card-testimony-mobile {
    padding-bottom: 0 !important;
  }
  .card-testimony-layout {
    margin-left: 5% !important;
  }
  #fav-prod-mobile-res {
    display: flex !important;
  }
  .testimony-row {
    gap: 1rem !important;
  }
  .card-body-testi {
    padding-bottom: 5% !important;
  }
}

@media (max-width: 419px) {
  .hero-title {
    padding: 0 !important;
    margin-top: 1rem !important;
  }
  #user-detail-col-res {
    padding: 0 2% !important;
  }
  #user-contact-res {
    margin-bottom: 5% !important;
  }
  .footer-nav {
    text-align: center;
  }
}

@media (max-width: 1248px) {
  .box-head {
    padding: 0 !important;
    margin-top: 0 !important;
  }
  .card-box {
    border: none !important;
  }
  #card-box-res {
    border-radius: 0px !important;
  }
}

@media (max-width: 1030px) {
  .card-user-detail-row {
    column-gap: 0 !important;
  }
}

@media (max-width: 790px) {
  .column-image {
    display: none;
  }
  .column-main {
    background-color: white;
  }
}

@media (max-width: 500px) {
  .regular {
    font-size: 25px !important;
  }
  #forgot-rec-res {
    margin-top: 45% !important;
  }
  .inputForgot > input {
    margin-right: 10px !important;
  }
  #resend-link-res {
    padding: 20px 70px !important;
  }
  .forgot-receive-text {
    font-size: 18px !important;
  }
  .page-title {
    float: none !important;
    font-size: 28px !important;
    margin-top: 20px !important;
    text-align: center;
  }
  .register {
    padding: 8% 10% 0 !important;
    margin: 0px 10px 26px !important;
  }
  .google-button {
    font-size: 13px !important;
    margin-bottom: 20px !important;
  }
  .already-account-text {
    font-size: 12px !important;
  }
  .already-account {
    margin-bottom: 20px !important;
  }
  .login-here-button {
    margin-bottom: 20px !important;
  }
  .link {
    display: none !important;
  }
  .describe {
    width: 100% !important;
    padding-top: 0 !important;
  }
}

@media (max-width: 1138px) {
  .side-image-login {
    height: 1381px !important;
  }

  .side-image-register {
    height: 1464px !important;
  }
}

/* Login and Register CSS */
.eye-icon {
  margin-top: -27%;
  margin-left: 85%;
  cursor: pointer;
}
.eye-icon-prof {
  margin-top: -13%;
  margin-left: 90%;
  cursor: pointer;
}
.container-auth {
  display: flex;
  width: 100%;
}

.column-image,
.side-image-register {
  width: 100%;
  height: 1509px;
}

.column-image,
.side-image-login {
  width: 100%;
  height: 100%;
}

.column-main {
  width: 100%;
  padding-top: 55px;
}

.side-title {
  padding: 0 10%;
}

.header-title {
  display: inline;
  position: absolute;
  top: 60px;
  margin-left: 10px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 24px;
  color: #0b132a;
}

.page-title {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  margin: 0;
  float: right;
  line-height: 41px;
  color: #6a4029;
}

.register-form {
  margin: 50px auto 0;
  width: 70%;
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.register {
  padding: 7% 10% 0px;
  margin: auto;
  text-align: center;
}

label {
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #0b132a;
  margin-bottom: 13px;
  text-align: left;
}

input {
  background: rgb(255, 255, 255);
  box-sizing: border-box;
  border-radius: 20px;
  padding: 30px 25px;
  border: 1px solid rgb(79, 86, 101);
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
}

.register-button {
  background: #ffba33;
  box-shadow: 0px 6px 20px rgba(255, 186, 51, 0.4);
  border-radius: 10px;
  border: none;
  height: 60px;
  margin-bottom: 26px;

  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  color: #6a4029;
}

.register-button:hover {
  background-color: #fdc75b;
}

.google-button {
  background: #ffffff;
  box-shadow: 0px 6px 20px rgba(196, 196, 196, 0.67);
  border: none;
  border-radius: 10px;
  height: 60px;
  margin-bottom: 62px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

.google-button:hover {
  background-color: #f1f1f1;
}

.already-account {
  justify-content: center;
  display: flex;
  align-items: center;
  column-gap: 20px;
  width: 70%;
  margin: auto;
}

.already-account-text {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  color: #9f9f9f;
}

.underline {
  border-bottom: solid 2px #c4c4c4;
  flex: 1;
}

.login-here-button {
  height: 60px;

  background: #6a4029;
  box-shadow: 0px 6px 20px rgb(106 64 41 / 63%);
  border-radius: 10px;
  border: none;
  margin: 50px auto;
  width: 70%;
}

.login-here-text {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  color: white !important;
}

.login-here-button:hover {
  background-color: #7c523c;
}

.login {
  display: flex;
  background-color: #eeeeee;
  padding: 5% 0;
}

.link-title {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #0b132a;
}

.link-item {
  display: grid;
  grid-template-columns: 50% 50%;
}

.footer-title {
  display: inline;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;

  color: #0b132a;
}

.describe {
  width: 50%;
  padding: 5% 10% 0;
}

.link {
  width: 50%;
}

a,
.footer-text {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: #4f5665 !important;
  text-decoration: none !important;
}

.forgot-pass {
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: rgb(106, 64, 41) !important;
  text-align: left;
}
/* End Login And Register CSS  */

/* Bootstrap */
/* Home Page  */
.welcome-name {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: #4f5665 !important;
  cursor: pointer;
}
.nav-coffee {
  padding-top: 2% !important;
  padding-bottom: 2% !important;
}
.nav-link.active {
  font-weight: 700 !important;
  font-size: 16px;
  color: #6a4029 !important;
}
.nav-link:hover {
  font-weight: 700 !important;
  font-size: 16px;
  color: #6a4029 !important;
}
.navbar-brand {
  padding-left: 10%;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  font-size: 2rem !important;
}
.navbar-nav {
  margin-left: 30%;
}
span.navbar-text {
  padding-right: 2%;
}
.btn-primary {
  margin-right: 10% !important;
  background-color: #ffba33 !important;
  border: none !important;
  border-radius: 50px !important;
  width: 10%;
  height: 40px;
}
.register-button-link {
  font-family: "Rubik" !important;
  font-style: normal !important;
  font-weight: 700 !important;
  font-size: 16px !important;
  line-height: 19px !important;
  color: #6a4029 !important;
}
.btn-primary:hover {
  background-color: #fdc75b !important;
}
.login-text {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #0b132a !important;
  border: none;
  background-color: #ffffff;
  padding-right: 2%;
}

.profile-nav {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  color: #4f5665 !important;
}
.home-nav {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700 !important;
  font-size: 16px;
  color: #6a4029 !important;
}
.product-nav {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700 !important;
  font-size: 16px;
  color: #6a4029 !important;
}
.right-nav {
  display: contents;
}
.row {
  padding-left: 5%;
}
.hero-image {
  background-image: url("https://juncoffee-static.netlify.app/assets/img/nathan-dumlao-6VhPY27jdps-unsplash.jpg");
  height: 638px;
}
.hero-content {
  padding-left: 5% !important;
}
.hero-title {
  color: white;
  padding: 10% 28% 3% 0;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 70px;
}
.hero-desc {
  color: white;
  padding: 0 39% 3% 0;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}
.sideline {
  border-right: 2px solid #c4c4c4;
}
.get-started {
  width: 40%;
  height: 60px;

  background: #ffba33;
  border-radius: 10px;
  border: none;

  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 25px;
  color: #6a4029;
}
.get-started:hover {
  background-color: #fdc75b;
}
.banner {
  margin-top: -5%;
}
.box-head {
  padding-right: 10%;
  padding-left: 10%;
}
.card-box {
  height: 190px !important;
  border-radius: 10px !important;
}
.text-item {
  display: grid;
  margin-left: 15%;
}
.bold-text {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
}
.normal-text {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}
.content-desc {
  padding: 5% 10%;
}

.list-item-desc {
  padding-top: 2%;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: #4f5665;
  list-style: none;
}
.desc-title {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 50px;
  color: #0b132a;
}
.desc-word {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #4f5665;
}
.favorite {
  padding: 5% 5% 5% 0;
  background-color: #f5f5f5;
}
.section-title {
  text-align: center;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 50px;
  color: #0b132a;
}
.section-desc {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;

  text-align: center;
  color: #4f5665;
}
.card-img-top {
  width: 50% !important;
  margin-top: -20%;
  margin-left: 25%;
}
.card-rows {
  padding: 5% 20% 0 26%;
}
.card-layout {
  padding-bottom: 10%;
  border-radius: 10px !important;
  border: 2px solid #dddddd !important;
  width: 100%;
}
.card-layout:hover {
  border: 2px solid #6a4029 !important;
}
.card-cols {
  display: flex;
  justify-content: space-evenly;
}
.card-title {
  text-align: center;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #0b132a;
}
.card-price {
  text-align: center;
  margin-top: 35%;
  padding-bottom: 10%;
}
.price-text {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #0b132a;
}
.button-select {
  margin-top: 7%;
  border: 2px solid #ffba33;
  border-radius: 50px;
  background: none;
  width: 55%;
  height: 45px;

  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #6a4029;
}
.button-select:hover {
  background-color: #ffba33;
}
.chicken-list {
  margin-top: 20%;
}
.button-select-active {
  margin-top: -7%;
}
.store {
  padding: 0 5% 5% 0;
  background-color: #f5f5f5;
}
.global-image {
  margin-top: 2% !important;
  text-align: center;
}
.global-image-res {
  max-width: fit-content;
}
.partner {
  padding: 0 5% 1% 0;
  background-color: #f5f5f5;
  text-align: center;
}
.partner-img-res {
  max-width: fit-content;
}
.testimony {
  background-color: #f5f5f5;
  padding: 0 5% 5% 0;
}
.user-detail {
  display: flex;
  justify-content: space-between;
}
.user-image {
  display: flex;
}
.user-credential {
  display: grid;
}
.user-name {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #0b132a;
}
.user-addres {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: #4f5665;
}
.user-testimony {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #0b132a;
}

.card-testimony-layout {
  border: 2px solid #dddddd !important;
  border-radius: 10px !important;
  height: 100% !important;
}
.card-testimony-layout:hover {
  border: 2px solid #6a4029 !important;
}
.col-arrow {
  text-align: right;
}
.left-arrow {
  padding-bottom: 14%;
  margin-top: -2%;
}
.right-arrow {
  margin-top: -13%;
  margin-left: -5%;
}
.promo {
  background-color: #eeeeee;
  text-align: center;
}
.promo-title {
  text-align: left;
  margin-top: 2%;
}
.promo-desc {
  text-align: left;
}
.card-promo-layout {
  margin-top: -10% !important;

  border-radius: 10px !important;
}
.card-promo-row {
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 1%;
}
.card-promo-row-inside {
  padding-left: 3%;
}
.promo-button {
  background: #ffba33;
  border-radius: 10px;
  height: 60px;
  border: none;
  width: 50%;

  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 25px;
  color: #6a4029;
}
.promo-button:hover {
  background: #ffc654;
}
.home-footer {
  background-color: #eeeeee;
}
.footer-nav {
  flex: 1;
  display: contents;
}
.footer-brand {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  color: #0b132a;
}
.footer-fb-icon {
  margin-left: -2%;
}
.footer-twitter-icon {
  margin-left: -3%;
}
.footer-ig-icon {
  margin-left: -3%;
}
.footer-home-copyright {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #afb5c0;
}
.footer-home-link {
  display: grid;
  row-gap: 5%;
}
#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
}
/* End Home  */

/* Profile CSS  */
.foto-input {
  padding: 0;
  border-radius: 0;
}
.profile-right-nav {
  padding-right: 10%;
  text-align: right;
}
.user-profile-image {
  width: 112px;
  height: 121px;
  border-radius: 50%;
  cursor: pointer;
}
.user-profile {
  background-image: url("https://juncoffee-static.netlify.app/assets/img/love-coffee.jpg");
  height: 1200px;
  padding-left: 10%;
}
.card-profile-layout {
  box-shadow: 0px 15px 0px 0px rgb(106 64 41) !important;
  border-radius: 10px 10px 0 0 !important;
  height: 358px !important;
}
.user-contact-card {
  padding-right: 10% !important;
}
.user-contact {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 38px;
  color: #4f5665;
}
.user-contact-title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #9f9f9f;
}
.user-contact-text {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  border: none;
  border-bottom: 1px solid #000000;
  padding: 0;
  border-radius: 0;
  width: 100%;
}
.card-detail-layout {
  box-shadow: 0px 15px 0px 0px rgb(106 64 41) !important;
  border-radius: 10px 10px 0 0 !important;
  height: 418px !important;
}
.card-user-detail-row {
  column-gap: 2rem;
}
.male-icon-text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #9f9f9f;
}
.radio-row input[type="radio"]:checked + label {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #6a4029;
}
.check-col input[type="checkbox"]:checked + label {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: white;
}
.button-user-text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #ffffff;
}
.button-user-detail {
  padding-right: 5%;
}
.save-change-button {
  background: #6a4029;
  border-radius: 20px;
  width: 70%;
  height: 60px;
  border: none;
  margin-left: 16%;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  color: white;
}
.save-change-button:hover {
  background-color: #694835;
}
.cancel-button {
  background: #ffba33;
  border-radius: 20px;
  width: 70%;
  height: 60px;
  border: none;
  margin-left: 16%;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  color: #6a4029;
}
.cancel-button:hover {
  background-color: #fdc75b;
}
.edit-pass-button {
  background: #ffffff;
  border-radius: 20px;
  width: 70%;
  height: 60px;
  border: none;
  margin-left: 16%;
  text-align: left;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  color: #6a4029;
  display: flex;
  align-items: center;
  justify-content: space-around;
  column-gap: 30%;
}
.logout-button {
  background: #ffffff;
  border-radius: 20px;
  width: 70%;
  height: 60px;
  border: none;
  margin-left: 16%;
  text-align: left;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  color: #6a4029;
  display: flex;
  align-items: center;
  justify-content: space-around;
  column-gap: 49%;
}
.button-content {
  display: grid;
}
.email-text {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 50px;
  color: #4f5665;
  margin-top: -7%;
}
.product-ordered {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #4f5665;
}
/* End Profile  */

/* Product CSS  */
.delete-icon-back {
  background-color: #6a4029;
  border-radius: 50%;
  cursor: pointer;
  margin-left: -18%;
}
.cancel-add-product {
  background: rgba(186, 186, 186, 0.35);
  border-radius: 20px;
  height: 85px;
  width: 100%;
  border: none;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 138.84%;
  /* identical to box height, or 35px */

  letter-spacing: 0.03em;

  color: #4f5665;
}
.cancel-add-product:hover {
  background: rgba(228, 228, 228, 0.35);
}
.take-pic-button {
  background: #0b132a;
  border-radius: 20px;
  height: 88px;
  border: none;
  width: 100%;

  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  /* identical to box height */

  color: #ffffff;
}
.add-prod-top {
  margin-top: 8%;
}
.add-prod-top-edit {
  margin-top: 15%;
}
.modal-loading {
  background-color: none;
  background: none;
}
.label-add-prod {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  /* identical to box height */

  color: #6a4029;
}
.gallery-button {
  background: #ffba33;
  border-radius: 20px;
  height: 88px;
  width: 100%;
  border: none;
}
.product-size-add {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;

  color: #9f9f9f;
}
.size-add-prod-active {
  background: #ffba33;
  width: 70px;
  height: 70px;
  border: none;
  border-radius: 50%;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 45px;
  /* identical to box height */

  text-align: center;

  color: #000000;
}
.size-add-prod {
  background: rgba(186, 186, 186, 0.35);
  width: 70px;
  height: 70px;
  border: none;
  border-radius: 50%;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 22px;
  text-align: center;

  color: #4f5665;
}
.size-add-prod:hover {
  background: #ffba33;
  width: 70px;
  height: 70px;
  border: none;
  border-radius: 50%;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 45px;
  /* identical to box height */

  text-align: center;

  color: #000000;
}
.pencil-style-promo {
  background-color: #6a4029;
  border-radius: 50%;
  justify-self: end;
  margin-left: 97%;

  margin-top: -7%;
  cursor: pointer;
}
.pencil-style {
  background-color: #6a4029;
  border-radius: 50%;
  justify-self: end;
  margin: -10px;
  cursor: pointer;
}
.add-new-prod {
  background: #6a4029;
  border-radius: 20px;
  border: none;
  width: 95%;
  height: 80px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;

  color: #ffffff;
}
.add-new-prod:hover {
  background-color: #7c523c;
}
.product-section {
  background-color: #f5f5f5;
}
.product-promo-col {
  border-right: 0.5px solid #9f9f9f;
}
.card-product-promo-layout {
  width: 108%;
  margin-left: -15%;
  background-color: #ffcb65 !important;
  border-radius: 20px !important;
  margin-top: -6%;
  height: 585px !important;
}
.card-product-promo-layout:hover {
  background-color: #f5ce82 !important;
}
.card-back-black {
  background-color: #000000 !important;
  border-radius: 20px !important;
  margin-left: 10%;
  height: 525px !important;
  margin-top: -5%;
  width: 88%;
}
.card-back-brown {
  background-color: #895537 !important;
  border-radius: 20px !important;
  height: 470px !important;
  margin-top: 10% !important;
  width: 80% !important;
  margin-left: 13%;
}
.apply-coupon {
  margin-top: 20% !important;
}
.apply-coupon-button {
  background: #6a4029;
  border-radius: 20px;
  width: 40% !important;
  height: 64px;
  border: none;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 26px;
  color: white;
}
.add-new-promo {
  background: #ffba33;
  border-radius: 20px;
  width: 50% !important;
  height: 80px;
  border: none;
  margin-top: 24%;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;

  text-align: center;

  color: #6a4029;
}
.add-new-promo:hover {
  background-color: #ffc654;
}
.apply-coupon-button:hover {
  background-color: #895537;
}
.nav-product {
  border-bottom: 0.5px solid #9f9f9f;
}
.promo-food-img {
  width: 70% !important;
}
.promo-food-img-edit {
  /* width: 70% !important; */
  cursor: pointer;
  margin-left: 20%;
}

.product-promo-card-title {
  margin-top: -20% !important;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 45px;
}
.product-promo-card-desc {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 30px;
}
.coupon-code-exp {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
}
.border-dot {
  border: 1px dashed #000000;
}
.coupon-code-text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 45px;
}
.promo-title-product {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  color: #6a4029;
}
.promo-desc-product {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 18px;
  text-align: center;
}
.btn-secondary {
  background-color: #6a4029 !important;
}
.tnc {
  margin-top: 20% !important;

  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 14px;
  color: white;
}
.tnc-title {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 14px;
  color: #4f5665;
}
.tnc-items {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 14px;
  color: #4f5665;
}
.card-fav-product-layout {
  box-shadow: 0px 30px 60px rgba(57, 57, 57, 0.1);
  border-radius: 30px !important;
  width: 100%;
  max-width: fit-content;
  margin: auto;
  cursor: pointer;
}
.card-fav-product-admin-layout {
  box-shadow: 0px 30px 60px rgba(57, 57, 57, 0.1);
  border-radius: 30px !important;
  width: 100%;
  max-width: fit-content;
  margin: auto;
}
.card-fav-product-layout:hover {
  border-color: #7c523c;
}
.fav-product-title {
  cursor: pointer;
}
.product-card-image {
  width: 100%;
  margin-top: -35%;
}
.fav-product {
  margin-top: 5% !important;
}
.fav-product-title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 40px;
  margin-top: -30%;
}
.fav-product-price {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: #6a4029;
  margin-top: 21%;
}
.product-image-add {
  border-radius: 50%;
  /* background-color: rgba(186, 186, 186, 0.35); */
  cursor: pointer;
}

.text-gallery {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  cursor: pointer;
  margin-top: 10px;
  /* identical to box height */

  color: #6a4029;
}
.option-prod {
  height: 72px;
  border-radius: 20px;
}
.fav-product-price-admin {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: #6a4029;
  margin-top: 18%;
}

.link-text-active {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700 !important;
  font-size: 18px !important;
  color: #6a4029 !important;
  border-bottom: 3px solid #6a4029 !important;
  text-align: center;
  background: none;
  margin-top: 3px;
  border: none;
  width: 100%;
}
.link-text {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400 !important;
  font-size: 18px !important;
  text-align: center;
  background: none;
  border: none;
  color: #9f9f9f !important;
  width: 100%;
}
input[name="gender"] {
  accent-color: #ffba33;
  transform: scale(2);
}
input[name="delete"] {
  accent-color: #6a4029;
  transform: scale(2);
}

/* Pagination  */
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}

.paginationItem {
  background: #fff;

  padding: 10px 15px;
  border-radius: 50%;
  height: 45px;
  width: 45px;
  position: relative;
  margin: 0 5px;
  cursor: pointer;
  border: 1px solid #888;
  color: #888;
}

.paginationItem:hover {
  border: 2px solid #666 !important;
  color: #888 !important;
}

.paginationItem span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.prev,
.next {
  background: #fff;
  border: none;
  padding: 10px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  margin: 0 10px;
  cursor: pointer;

  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: #6a4029;
  text-align: center;
}

.paginationItem.active {
  border: 2px solid #666;
  color: #888;
  pointer-events: none;
}

.prev.disabled,
.next.disabled {
  pointer-events: none;
  box-shadow: none;
  color: #999;
}

/* Sort  */
.sort-icon {
  color: #6a4029 !important;
  cursor: pointer;
  width: 100%;
  text-align: left;
  max-width: fit-content;
}

/* forgot-pass  */
.forgotContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
.forgotForm {
  position: absolute;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 130px;
  color: #ffffff;
}
.forgotTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.forgotTitle > span {
  font-size: 64px;
  font-weight: 700;
  font-family: "Poppins";
  font-style: normal;
}
.forgotTitle > p {
  font-size: 25px;
  font-weight: 700;
  font-family: "Poppins";
  font-style: normal;
}
.inputForgot {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}
.inputForgot > input {
  border-style: none;
  border-radius: 20px;
  width: 70%;
  padding: 42px 35px;
}
.inputForgot > span {
  background-color: black;
  width: 20%;
  padding: 20px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  background: #ffba33;
  box-shadow: 0px 6px 20px rgba(255, 186, 51, 0.4);
  cursor: pointer;
  color: #6a4029;
  font-size: 30px;
  font-weight: 700;
}
.inputForgot > span:hover {
  background-color: #fdc75b;
}
.forgotReceive {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 25px;
  font-weight: 700;
}
.resendLink {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #6a4029;
  box-shadow: 0px 6px 20px rgba(106, 64, 41, 0.46);
  padding: 32px 165px;
  border-radius: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}
.resendLink:hover {
  background-color: #997967;
}
.forgotImg {
  width: 100%;
}

/* detail-product */
.delivery-time-card {
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.34);
  border-radius: 20px;
  height: 381px;
}
.top-text-left {
  text-align: left !important;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  margin-left: 16%;
  cursor: pointer;

  color: #4f5665;
}
.product-text-left {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;

  color: #6a4029;
}
.card-title-delivery {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 900;
  font-size: 25px;
  line-height: 38px;
}
.dine-in-button {
  background: #f4f4f8;
  border: 1px solid rgba(186, 186, 186, 0.35);
  border-radius: 10px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #9f9f9f;
}
.dine-in-button:focus {
  background: #6a4029;
  box-shadow: 0px 6px 20px rgba(137, 85, 55, 0.4);
  border-radius: 10px;
  border: none;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;

  color: #ffffff;
}
.dine-in-button:hover {
  background: #6a4029;
  box-shadow: 0px 6px 20px rgba(137, 85, 55, 0.4);
  border-radius: 10px;
  border: none;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;

  color: #ffffff;
}

.now-text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
}
.row-content {
  gap: 10rem;
}
.time-input {
  height: 47px;

  background: #f4f4f8;
  border: 1px solid rgba(186, 186, 186, 0.35);
  border-radius: 10px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;

  color: #9f9f9f;
}

.top-product-title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 900;
  font-size: 65px;
  line-height: 98px;

  color: #000000;
}
.top-product-desc {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  margin: auto;
  color: #6a4029;
}
.top-product-desc-add {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  /* identical to box height */

  color: #6a4029;
}
.product-add-cat {
  background: rgba(186, 186, 186, 0.35);
  border-radius: 20px;
  height: 72px;
  width: 25%;
  border: none;

  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height */

  color: #4f5665;
}
.product-add-cat-active {
  background: #ffba33;
  border-radius: 20px;
  height: 72px;
  width: 25%;
  border: none;

  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height */

  color: #6a4029;
}
.day {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  margin: auto;
  color: #6a4029;
}

.count {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.add-to-cart-edit {
  height: 83px;
  background: #ffba33;
  border: none;
  border-radius: 10px;
  width: 100%;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 38px;
  text-align: center;

  color: #6a4029;
}
.count-edit-prod {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 5%;
}
.countButton {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 20%;
  border: 1px solid #9f9f9f;
  border-radius: 10px;
  padding: 5px 18px;
  font-size: 25px;
  font-weight: 700;
  gap: 3rem;
}
.countButton-edit {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 83px;
  border: 1px solid #9f9f9f;
  border-radius: 10px;
  padding: 5px 18px;
  font-size: 25px;
  font-weight: 700;
  gap: 3rem;
}
.save-edit-prod {
  background: #6a4029;
  border-radius: 10px;
  height: 85px;
  border: none;
  margin-top: 7%;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 38px;

  color: #ffffff;
}
.minus {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 900;
  font-size: 25px;
  line-height: 38px;

  text-align: center;
  cursor: pointer;
  color: #6a4029;
}
.numb {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 900;
  font-size: 25px;
  line-height: 38px;

  text-align: center;

  color: #6a4029;
}
.priceDetail {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 52px;
  text-align: center;

  color: #000000;
}
.cart-button {
  background: #6a4029;
  border-radius: 20px;
  height: 85px;
  width: 100%;
  border: none;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 38px;

  color: #ffffff;
}
.cart-button-promo {
  background: #6a4029;
  border-radius: 20px;
  height: 85px;
  width: 100%;
  border: none;
  margin-top: 15%;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 38px;

  color: #ffffff;
}
.cart-button-promo-edit {
  background: #6a4029;
  border-radius: 20px;
  height: 85px;
  width: 100%;
  border: none;
  margin-top: 5%;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 38px;

  color: #ffffff;
}
.staff-button {
  background: #ffba33;
  border-radius: 20px;
  height: 85px;
  width: 100%;
  border: none;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 38px;

  color: #6a4029;
}

.size-text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 38px;
  text-align: center;
}
.card-size {
  background: #ffffff;

  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.34);
  border-radius: 20px;

  border-radius: 20px;
  margin-top: -20%;
}
.regular {
  background: #ffba33;
  width: 65%;
  height: 70px;
  border-radius: 50%;
  border: none;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 45px;

  text-align: center;
}
.row-bottom-content {
  background-color: #eeeeee;
  margin-top: 8%;
}
.card-checkout {
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.34);

  border-radius: 20px;
  margin-top: -7%;
}

.bottom-image {
  width: 53%;
  border-radius: 50%;
}
.cold-brew-title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 900;
  font-size: 25px;
  line-height: 38px;
  text-align: left;

  color: #000000;
}
.cold-brew-desc {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  text-align: left;

  color: #000000;
}
.checkout-text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 38px;

  text-align: center;

  color: #000000;
}
.arrow-button-bot {
  background: #ffba33;
  width: 13%;
  height: 70px;
  border-radius: 50%;
  border: none;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 45px;

  text-align: center;
}
.arrow-button-bot:hover {
  background-color: #f5ce82;
}
.regular:hover {
  background-color: #f5ce82;
}
.regular:focus {
  background-color: #f5ce82;
}
.cart-button:hover {
  background-color: #7c523c;
}
.cart-button-promo:hover {
  background-color: #7c523c;
}
.staff-button:hover {
  background-color: #f5ce82;
}

/* cart  */
.cart {
  background-image: url("./assets/img/cart-back.jpg");
  padding-bottom: 5%;
  width: 100%;
}
.checkout-title {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;

  color: #ffffff;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.8);
}
.cart-card-layout {
  background: #ffffff;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.35);
  border-radius: 20px;
}
.card-between-row {
  gap: 20%;
}
.cart-product-text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}
.cart-product-title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 52px;

  color: #362115;
}
.cart-price-text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;

  color: #362115;
}
.cart-row-border {
  border-bottom: 0.5px solid #000000;
}
.cart-total-price {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 45px;

  color: #362115;
}
.cart-detail-title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 38px;

  color: #ffffff;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.8);
}
.cart-edit-title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 22px;
  cursor: pointer;
  color: #ffffff;
}
.card-cart-delivery {
  background: #ffffff;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}
.card-cart-payment {
  background: #ffffff;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}
.delivery-text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;

  color: #000000;
}
.payment-text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}
.button-cart-pay {
  background: #6a4029;
  box-shadow: 0px 10px 20px rgba(137, 85, 55, 0.4);
  border-radius: 20px;
  border: none;
  height: 84px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;

  text-align: center;

  color: #ffffff;
}

/* history  */
.history {
  background-image: url("./assets/img/history-back.jpg");
  padding-bottom: 5%;
}
.history-title {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  text-align: center;

  color: #ffffff;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.8);
}
.history-text {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 47px;
  text-align: center;

  color: #ffffff;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.8);
}
.delete-text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;

  text-decoration-line: underline;
  cursor: pointer;
  color: #ffffff;
}
.card-history-text-pointer {
  cursor: pointer;
}
.card-history-layout {
  background: #ffffff;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.03);
  border-radius: 20px;
  width: 100%;
}
.card-history-title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 38px;

  color: #000000;
}
.card-history-text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;

  color: #895537;
}

/* dashboard  */
.dashboard {
  background-color: #eeeeee;
  border-bottom: 1px solid #9f9f9f;
}
.row-top-statistic {
  margin-right: 15%;
}
.row-top-employ {
  border-bottom: 1px solid #d6d9dc;
}
.sum-title {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 50px;

  color: #6a4029;
}
.report-text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 45px;

  color: #000000;
}
.three-dots {
  cursor: pointer;
}
.report-text-p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;

  color: #7c828a;
}
.chart-card {
  border-radius: 20px;
  filter: drop-shadow(0px 6px 20px rgba(0, 0, 0, 0.4));
}
.image-employ {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
.employ-title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}
.employ-text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
}
.text-achieve {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;

  color: #7c828a;
}
.goals-title {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  text-align: center;
}
.goals-text {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;

  text-align: center;

  color: #7c828a;
}
.share-report {
  background: #6a4029;
  box-shadow: 0px 6px 20px rgba(106, 64, 41, 0.6);
  border-radius: 20px;
  border: none;
  height: 80px;
  max-height: fit-content;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 41px;

  text-align: center;

  color: #ffffff;
}
.download-report {
  background: #6a4029;
  box-shadow: 0px 6px 20px rgba(106, 64, 41, 0.6);
  border-radius: 20px;
  border: none;
  height: 80px;
  max-height: fit-content;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 41px;
  width: 98%;
  margin-left: 1%;
  text-align: center;

  color: #ffffff;
}
.share-report:hover {
  background-color: #7c523c;
}
.download-report:hover {
  background-color: #7c523c;
}
/* Order  */
.text-order-for {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 52px;
  text-align: center;

  color: #362115;
}
.upcoming-button {
  background: #ffba33;
  border-radius: 20px;
  height: 74px;
  width: 100%;
  border: none;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height */

  text-align: center;

  color: #6a4029;
}
